*, *::before, *::after {
  margin: 0;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter Regular";
  src: url('assets/fonts/Inter.ttf') format('ttf-variations');
  font-weight: 100 900;
  font-display: swap;
}

html {
  font-size: 16px;
}

:root {
  --grey-900: #141414;
  --grey-800: #1F1F1F;
  --grey-700: #333333;
  --green: #C4F82A;
  --white: #FFF;

  --fs-lrg: 1.5rem; /* 24px */
  --fs-med: 0.875rem; /* 14px */

  --fw-bold: 600;
  --fw-reg: 300;

  --space-500: 2.5em;   /* 40px */
  --space-300: 1.5em;   /* 24px */
  --space-200: 1em;     /* 16px */
  --space-150: 0.75em;  /* 12px */
  --space-100: 0.5em;   /* 8px */
  --space-50: 0.25em;   /* 4px */
}

body {
  font-family: "Inter";
  background-color: var(--grey-900);
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}

.profile {
  width: 327px;
  background-color: var(--grey-800);
  padding: var(--space-300);
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--space-300);
}

.avatar {
  width: 35%;
  border-radius: 50%;
}

.name {
  color: var(--white);
  font-size: var(--fs-lrg);
  font-weight: var(--fw-bold);
}

.location {
  color: var(--green);
  font-style: normal;
  font-size: var(--fs-med);
  font-weight: var(--fw-bold);
}

.profession {
  color: var(--white);
  font-size: var(--fs-med);
  font-weight: var(--fw-reg);
}

.social-links {
  width: 100%;
}

.social-links__list {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: var(--space-200);
  /* border: solid 1px blue; */
}

/* .list__item {
  border: solid 1px yellow;
} */

.link {
  text-decoration: none;
  background-color: var(--grey-700);
  border-radius: 0.5rem;
  color: var(--white);
  display: block;
  padding: var(--space-150);
  font-size: var(--fs-med);
  font-weight: var(--fw-bold);
}

.link:hover,
.link:focus {
  cursor: pointer;
  background-color: var(--green);
  color: var(--grey-700);
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}

@media only screen and (min-width: 600px) {
  .profile {
    width: 456px;
    padding: var(--space-500);
  }
}

@media only screen and (min-width: 900px) {
  .profile {
    width: 384px;
    padding: var(--space-500);
  }
}
